{% extends 'index.html' %}

{% block content %}
    <div class="container justify-content-center">
        <h1 class="overflow-10 pt-4 pb-4"><strong> RPS Tournament Stats </strong></h1>
        <div class="row">
            <div class="col pt-4 pb-4 justify-content-center">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Most Games</th>
                                <th scope="col">Most Wins</th>
                                <th scope="col">Best Win Ratio</th>
                                <th scope="col">Most Played Hand</th>
                                <th scope="col">Most Victorous Hand</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{data.most_games}}</td>
                                <td>{{data.most_wins}}</td>
                                <td>{{data.best_ratio}}</td>
                                <td>{{data.mph}}</td>
                                <td>{{data.mvh}}</td>
                            </tr>
                        </tbody>
                    </table>
                 </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="overflow-10 pt-4 pb-4"><strong> RPS Tournament Games </strong></h1>
        {% for game in games.list %}
            <hr>
            <div class="row justify-content-center">
                <div class = "col-11">
                    <pre> {{ game.0|safe }} </pre>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="text-right">
        <a href="{{ url_for(request.endpoint, name=data.name , page=games.prev) }}" class="btn btn-outline-dark {% if not games.prev %}disabled{% endif %}">
        &laquo;
        </a>
        {% if games.prev %}
        <a href="{{ url_for(request.endpoint, name=data.name ,page=games.prev) }}"
           class="btn btn-outline-dark">
            {{ games.prev }}
        </a>
        {% endif %}
        <a href="{{ url_for(request.endpoint, name=data.name ,page=games.current) }}"
           class="btn btn-dark disabled">
            {{ games.current }}
        </a>
        {% if games.next %}
        <a href="{{ url_for(request.endpoint, name=data.name , page=games.next) }}"
           class="btn btn-outline-dark">
            {{ games.next }}
        </a>
        {% endif %}
        <a href="{{ url_for(request.endpoint, name=data.name, page=games.next) }}" class="btn btn-outline-dark {% if not games.next %}disabled{% endif %}">
        &raquo;
        </a>
    </div>
    <p class="text-right mt-3">
        Showing page {{ games.current }} of {{ games.pages }}
    </p>

{% endblock %}
