{% extends 'index.html' %}

{% block content %}
    <div class="container justify-content-center">
        <div class="row">
            <div class="col">
                <h1 class="overflow-auto pt-4 pb-4"><strong> {{ data.name }} </strong></h1>
            </div>
            <div class="col pt-4 pb-4 justify-content-center">

                <h2 class="sub-header">Stats</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-3">Games</th>
                                <th class="col-3">Wins</th>
                                <th class="col-3">Win Ratio</th>
                                <th class="col-3">Most Played Hand</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-3">{{data.total}}</td>
                                <td class="col-3">{{data.wins}}</td>
                                <td class="col-3">{{data.ratio}}</td>
                                <td class="col-3">{{data.hand}} ({{ data.hand_count }})</td>
                            </tr>
                        </tbody>
                    </table>
                 </div>

            </div>
        </div>
    </div>
    <div class="container justify-content-center">
        <div>
        {% for game in data.games %}
            <hr>
            {% if game.6 == data.name %}
              <p><span class="badge badge-success">WIN</span> {{ game.0 }} {{ game.1 }} {{ game.2 }} ({{ game.4}}) vs. ({{ game.5 }}) {{ game.3 }}</p>
            {% elif game.6 == 'Tie' %}
              <p><span class="badge badge-secondary">TIE</span> {{ game.0 }} {{ game.1 }} {{ game.2 }} ({{ game.4}}) vs. ({{ game.5 }}) {{ game.3 }}</p>
            {% else %}
              <p><span class="badge badge-danger">LOST</span> {{ game.0 }} {{ game.1 }} {{ game.2 }} ({{ game.4}}) vs. ({{ game.5 }}) {{ game.3 }}</p>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
