{% extends 'index.html' %}

{% block content %}
    <div class="container justify-content-center">
        <div class="row justify-content-center align-items-center">
            <div class="col justify-content-center align-items-center">
                <h1 class="overflow-auto pt-4 pb-4"><strong> {{ data.name }} </strong></h1>
            </div>
            <div class="col pt-4 pb-4 justify-content-center">

                <h2 class="sub-header">Stats</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-md-3">Games</th>
                                <th class="col-md-3">Wins</th>
                                <th class="col-md-3">Win Ratio</th>
                                <th class="col-md-3">Most Played Hand</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-3">{{data.total}}</td>
                                <td class="col-md-3">{{data.wins}}</td>
                                <td class="col-md-3">{{data.ratio}}</td>
                                <td class="col-md-3">{{data.hand}} ({{ data.hand_count }})</td>
                            </tr>
                        </tbody>
                    </table>
                 </div>

                <!-- <p><strong>Win ratio: {{ data.ratio }}</strong></p>
                <p><strong>Total wins: {{ data.total }}</strong></p> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
        {% for game in data.games %}
            {% if game.6 == data.name %}
              <p><strong style="color: green;">WIN!</strong> {{ game.0 }} {{ game.1 }} {{ game.2 }} ({{ game.4}}) vs. ({{ game.5 }}) {{ game.3 }}</p>
            {% elif game.6 == 'Tie' %}
              <p><strong style="color: yellow;">TIE!</strong> {{ game.0 }} {{ game.1 }} {{ game.2 }} ({{ game.4}}) vs. ({{ game.5 }}) {{ game.3 }}</p>
            {% else %}
              <p><strong style="color: red">LOST!</strong> {{ game.0 }} {{ game.1 }} {{ game.2 }} ({{ game.4}}) vs. ({{ game.5 }}) {{ game.3 }}</p>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
